
:host {
  display: block;
  background: var(--yt-spec-general-background-a);
}
.browse-videos {
  display: flex;
}

.browse-videos-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 24px;
}

.video-player {
  margin: 8px 8px 40px 8px;
  width:calc(100% / var(--ytd-rich-grid-items-per-row) - var(--ytd-rich-grid-item-margin));
  padding-top: calc((100% / var(--ytd-rich-grid-items-per-row) - var(--ytd-rich-grid-item-margin)) / var(--yt-image-aspect-ratio)  + var(--yt-thumbnail-details-height));
  margin-bottom: 1.5rem;
  position: relative;
}

.loader-template {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  &__item {
    margin: 8px 8px 40px 8px;
    width:calc(100% / var(--ytd-rich-grid-items-per-row) - var(--ytd-rich-grid-item-margin));
    padding-top: calc((100% / var(--ytd-rich-grid-items-per-row) - var(--ytd-rich-grid-item-margin)) / var(--yt-image-aspect-ratio)  + var(--yt-thumbnail-details-height));
    margin-bottom: 1.5rem;
    position: relative;
  }
}

.mini-sidebar-wrapper {
  position: sticky;
  top: var(--ytd-watch-flexy-masthead-height);
  background: var(--yt-spec-background-primary);
}

.emptyTemplate, .errorTemplate {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  width: 100%;
  .emptyTemplate-icon {
    width: 10rem;
    height: 10rem;
    font-size: 10rem;
    overflow: hidden;
    color: var(--yt-primary-50);
  }
  &__text {
    text-align: center;
    h2 {
      margin-bottom: 5px;
    }
  }
}

.errorTemplate {
  .errorTemplate-icon {
    width: 10rem;
    height: 10rem;
    font-size: 10rem;
    overflow: hidden;
    color: #f39c12;
  }
}