:host {
    display: block;
    width: 100%;
    overflow-y: auto;
    padding: 24px;
    background: #fff;
}

$text-primary: #2c2c54;

.consent {
    width: 100%;

    &__header {
        color: $text-primary;
    }
    &__icon {
        width: 200px;
        height: 74px;
        margin: auto;
        img {
            width: 100%;
            height: 100%;
        }
    }

    &__content {
        margin: 16px 0;
        ul {
            padding-left: 20px;
        }
        ul, li {
            color: $text-primary;
        }
        a {
            color: var(--yt-primary-50);
        }
        li {
            margin-bottom: 5px;
        }
    }

    &__footer {
        display: flex;
        button {
            margin-left: auto;
        }
    }
}

@media (min-width: 576px) {
    .consent {
        &__icon {
            width: 360px;
            height: 127px;
        }
    }
}