<div class="consent">
  <div class="consent__header">
    <h1 class="mat-h1"><b>Youtube Clone</b></h1>
  </div>
  <div class="consent__icon">
    <img src="assets/icons/policy-terms.svg" alt="Consent screen icon" />
  </div>
  <div class="consent__content mat-subtitle-1">
    <ul>
      <li>
        This app is for <b>EDUCATION PURPOSE ONLY.</b> It was built for illustrating one of the approaches to build
        Realworld Microfrontend app using Angular and Module Federation.
      </li>
      <li>
        For real Youtube Experience, you should use
        <a href="https://www.youtube.com" target="_blank">www.youtube.com</a>
      </li>
      <li>The Author is not saving any data of the client on the server.</li>
      <li>
        Source code can be found at this
        <a href="https://github.com/vugar005/youtube-webapp-turborepo" target="_blank">LINK</a>
      </li>
    </ul>
  </div>
  <div class="consent__footer">
    <button mat-raised-button color="primary" (click)="onDialogClose(true)">OKAY</button>
  </div>
</div>
