<div class="video-card" *ngIf="videoResult?.title; else loadingTemplate">
  <div class="video-card__player">
    <yt-video-player
      [videoId]="videoId"
      (videoLoaded)="onVideoReady($event)"
      [startSeconds]="startSeconds"
    ></yt-video-player>
  </div>

  <div class="video-details" *ngIf="videoResult">
    <div class="video-details__title mat-h1">{{ videoResult?.title }}</div>
    <div class="video-details__footer">
      <div class="video-details__footer__views mat-h3">{{ videoResult?.views | number: '1.0-0' }} views</div>
      <div class="video-details-actions">
        <div class="video-details-actions__item" (click)="onToggleLike()">
          <mat-icon class="video-details-actions__item__icon">
            <ng-container *ngIf="isLiked"> thumb_up </ng-container>

            <ng-container *ngIf="!isLiked"> thumb_up_off_alt </ng-container>
          </mat-icon>

          <p class="video-details-actions__item__text mat-h3">Like</p>
        </div>

        <div class="video-details-actions__item" (click)="onToggleDisLike()">
          <mat-icon class="video-details-actions__item__icon">
            <ng-container *ngIf="isDisLiked"> thumb_down </ng-container>

            <ng-container *ngIf="!isDisLiked"> thumb_down_off_alt </ng-container>
          </mat-icon>
          <p class="video-details-actions__item__text mat-h3">Dislike</p>
        </div>

        <div class="video-details-actions__item" (click)="onShareVideo()">
          <mat-icon class="video-details-actions__item__icon">share</mat-icon>
          <p class="video-details-actions__item__text mat-h3">Share</p>
        </div>

        <div class="video-details-actions__item flash" (click)="onMiniPlayerMode()">
          <mat-icon class="video-details-actions__item__icon">picture_in_picture_alt</mat-icon>
          <p class="video-details-actions__item__text mat-h3">Mini Player</p>
        </div>
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>
</div>

<ng-template #loadingTemplate>
  <div class="video-card-loader">
    <yt-video-thumbnail-loader></yt-video-thumbnail-loader>
  </div>
</ng-template>
