
:host {
  display: block;
  height: 100%;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.home-secondary {
  width: 100%;
  padding: 15px 28px;
  background: var(--yt-spec-general-background-b);
  border-bottom: 1px solid var(--yt-spec-10-percent-layer);
  &__title {
    display: block;
    color: var(--yt-spec-text-primary);
    margin-top: 1rem;
    margin-bottom: 0;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.home-primary {
  align-self: stretch;
  flex: 1;
  order: 1;
  display: flex;
  flex-direction: column;
  padding: 24px;
  &__title {
    padding-left: 16px;
  }
}

.video-item {
  display: flex;
  align-items: center;
  width: 100%;
  transition: background 100ms ease-in-out;
  &:hover {
    background: var(--yt-spec-badge-chip-background);
  }

  &__thumbnail {
    position: relative;
    width: 100%;
    height: 94px;
    margin-bottom: 8px;
    padding: 16px 0;
    padding-left: 16px;
    border-bottom: 1px solid var(--yt-spec-10-percent-layer);
  }
}

.thumbnail-loader-template-item {
  width: 100%;
  position: relative;
  margin-top: 16px;
  padding: 16px 0;
  margin-bottom: 8px;
  height: 94px;
}

.secondary-action {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.75rem;
  color: var(--yt-spec-text-secondary);
  background: transparent;
  border: 0;

  &__icon {
    margin-right: 8px;
    width: 2.4rem;
    overflow: hidden;
  }

  &__text {
    text-transform: uppercase;
    margin: 0;
  }
}

.emptyTemplate {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  .emptyTemplate-icon {
    width: 10rem;
    height: 10rem;
    font-size: 10rem;
    overflow: hidden;
    color: var(--yt-primary-50);
  }
  &__text {
    text-align: center;
    h2 {
      margin-bottom: 5px;
      color: var(--yt-spec-text-primary);
    }
    a,
    h3 {
      color: var(--yt-primary-50);
      cursor: pointer;
    }
    a {
      text-decoration: underline;
    }
  }
}

@media (min-width: 768px) {
  .home {
    flex-direction: row;
    align-items: stretch;
  }
  .home-secondary {
    width: 360px;
    height: 100%;
  }

  .home-primary {
    order: 0;
  }
}
