/* You can add global styles to this file, and also import other style files */
@import './assets/themes/youtube-theme';
@import './assets/styles/_scrollbar';
@import './assets/styles/_variables';

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: Roboto, Arial, sans-serif;
}

body {
  background: var(--yt-spec-background-primary);
}

a {
  text-decoration: none;
}

.p-0 {
  padding: 0;
}
.w-100 {
  width: 100%;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-tooltip {
  margin: 12px !important;
  font-size: 1rem;
  padding: 0.75rem;
}

.error-toast {
  .mat-simple-snackbar-action {
    color: red;
  }
}

.success-toast {
  .mat-simple-snackbar-action {
    color: #3ea5ff;
  }
}

.app-loader {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background: #f5f5f5;
  &__icon {
    width: 300px;
    height: 61.3px;
    img {
      width: 100%;
      height: 61.3px;
    }
  }

  &__text {
    font-size: 14px;
    margin-left: 27px;
    margin-top: 2px;
  }
}

.flash {
  animation-name: flashFrames;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 2.0s;
}

@keyframes flashFrames {
  50% {
    opacity: 0;
  }
}

@media (min-width: 1900px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 2550px) {
  html {
    font-size: 14px;
  }
}
