:host {
  display: block;
  height: 100%;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.home-sidebar {
  width: 300px;
  padding: 15px 24px;
  border-bottom: 1px solid var(--yt-spec-10-percent-layer);

  &__title {
    display: block;
    color: var(--yt-spec-text-primary);
    margin-top: 1rem;
    margin-bottom: 0;
  }
}

.video-list {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  background: var(--yt-spec-general-background-b);
  margin-right: 24px;
}

.video-item {
  display: flex;
  align-items: center;
  transition: background 100ms ease-in-out;
  &:hover {
    background: var(--yt-spec-badge-chip-background);
  }

  &__index {
    width: 36px;
    color: var(--yt-spec-text-secondary);
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 500;
    text-align: center;
  }
  &__thumbnail {
    width: var(--yt-related-thumbnail-width);
    margin-bottom: 8px;
    padding: 16px 0;
    border-bottom: 1px solid var(--yt-spec-10-percent-layer);
  }
}

.thumbnail-loader-template-item {
  width: var(--yt-related-thumbnail-width);
  margin-left: 36px;
  padding: 16px 0;
  margin-bottom: 8px;
}

.thumbnail-primary-loader-template-item {
  width: 312px;
}

@media (min-width: 768px) {
  .home {
    flex-direction: row;
    align-items: flex-start;
  }
  .home-sidebar {
    width: 360px;
  }
}

.emptyTemplate {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  width: 100%;
  .emptyTemplate-icon {
    width: 14rem;
    height: 14rem;
    font-size: 14rem;
    color: #3ea5ff;
  }
  &__text {
    text-align: center;
    text-align: center;
    h1 {
      margin-bottom: 5px;
    }
    a,
    h3 {
      color: #3ea5ff;
      cursor: pointer;
    }
    a {
      text-decoration: underline;
    }
  }
}
